// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import 'bootstrap';


.content {
    
    text-align: center;
    font-family: sans-serif;
    padding: 60px;
    background-color: whitesmoke;
    height: 400px;
}


body {
    margin: 0px;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

footer {
    border-top: 1px grey solid;
    margin: 20px;
    padding: 20px;
}
footer h4 {
    display: inline;
    float: left;
}
footer p {
    float: right;
    display: inline;
}


